@import "tailwindcss";
@import "react-slideshow-image/dist/styles.css";

:root {
  --light-green: rgb(234, 241, 234);
  --mid-green: rgb(195, 209, 176);
  --dark-green: rgb(89, 103, 78);
  --background: #ffffff;
  --foreground: #171717;
}

.container-image {
  opacity: 0.45;
  position: relative;
}

.container-image:hover {
  opacity: 1;
  cursor: pointer;
}

.container-text {
  align-self: center;
  position: absolute;
}

button {
  background-color: var(--dark-green);
  color: white;
  width: 125px;
}

#category-container {
  background-color: var(--light-green);
}

#news-container {
  background-color: var(--mid-green);
}

#footer-container {
  background-color: var(--dark-green);
  color: white;
}

#header-container {
  background-color: var(--mid-green);
}

a:active {
  color: var(--mid-green);
}

.slider {
  accent-color: var(--dark-green); 
}

.products-container {
  display: grid;
  column-gap: 45px;
  row-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

fieldset {
  border: 1px solid black;
  padding: 0 10px 0 10px;
}

button, li {
  cursor: pointer;
}

.popup {
  background-color: white !important;
}